:root {
    --blue: #047bf8;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e65252;
    --orange: #fd7e14;
    --yellow: #fbe4a0;
    --green: #24b314;
    --teal: #20c997;
    --cyan: #5bc0de;
    --white: #fff;
    --gray: #636c72;
    --gray-dark: #343a40;
    --primary: #047bf8;
    --secondary: #292b2c;
    --success: #24b314;
    --info: #5bc0de;
    --warning: #fbe4a0;
    --danger: #e65252;
    --light: #f8f9fa;
    --dark: #343a40;
    --background: #05142E;
    --banner: #172B4D;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1250px;
    --breakpoint-xxl: 1450px;
    --breakpoint-xxxl: 1550px;
    --breakpoint-xxxxl: 1650px;
    --font-family-sans-serif: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	margin: 0 auto;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
body, html { background-color: #F8F9FF; }
span.top__message { 
	display: block;
	height: 40px;
	padding-top: 10px;
	font-weight: 600;
	width: 100%;
	text-align: center;
	background-color: var(--background);
	color: var(--white);
}
section.banner {
	display: inline-block;
	width: 100%;
	height: 70vh;
	background-color: var(--banner);
}